@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  font-family: 'Karla', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  align-items: center;
  padding: 0 10px 0 10px;
}

header img {
  width: 20%;
  height: 35%;
}

nav li {
  display: inline-block;
}

li a {
  font-size: 13px;
  text-decoration: none;
  color: #a8b1c1;
  padding: 5px 5px;
}

li a:hover {
  background-color: #2d2641;
  color: white;
}

.first-section {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.mobile-right-intro {
  position: absolute;
  top: 25%;
  height: 300px;
  left: 0px;
  padding-left: 15px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background-color: #2d2642;
  color: white;
  background-image: url("./images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;

}

.cards-section {
  margin: 15px;
}

.cards-section h2 {
  margin: 30px 0;
  padding-left: 15px;
}

.cards {
  display: flex
}

.card {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.card h4 {
  font-weight: bold;
  margin-bottom: 10px;
  height: 40px;
}

.card p {
  font-size: 12px;
}

.find-more {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 15px 15px 15px;
  background-image: url("./images/bg-pattern-intro-right-desktop.svg");
  background-color: #2d2642;
  color: white;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
}

.find-more a {
  font-size: 12px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 5px;
  width: 160px;
  margin-right: 15px;
}

.footer {
  background-image: url("./images/bg-pattern-intro-right-desktop.svg");
  margin: 50px 15px 15px 15px;
  background-repeat: repeat-y;
  background-size: 65%;

}
.contacts {
  margin : 5px ;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  
}
.contacts li a{
  color: black;
 font-weight: bold;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}

.footer-header ul {
  display: flex;
  padding-right: 5px;

}

.footer-header ul img {
  width: 20px;
  height: 20px;
}

.footer .attribution {
  text-align: center;
  margin: 30px 0;
}



@media (min-width: 961px) {
  .first-section {
    flex-direction: row;
    color: white;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65%;
    background-color: #2d2642;
  }

  .info-container {
    background-color: transparent;
    color: white;
    background-image: none;
    background-size: 65%;
  }
}

/* ### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%) */

/* - Family: [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display)
- Weights: 400

### Body

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

/* ### hr
  border: 3px solid wheat;
  color: white; */